nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 12px 20px;
  color: #fff;
}

nav > div:first-child {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav div div {
  font-size: 22px;
  font-weight: bold;
}


ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

li a {
  color: #cfc1c1;
  text-decoration: none;
  font-size: 16px;
}

button {
  background-color: #f4b400;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

img{
    width: 30px;
    border:1px ;
    border-radius: 5px;
}

ul li:not(:first-child){
    margin-top:8px;
}

a.active{
 color:#f4b400;
 font-weight:bold;
 border-bottom: 2px solid #f4b400;

}