/* 
.container {
  display: flex;
  flex-wrap: wrap;          
  gap: 20px;
}


.card {
  display: flex;
  justify-content: space-between;
  width: 48%;   
  border: 1px solid #ddd;
  padding: 16px;
  box-sizing: border-box;
}


.details {
  width: 65%;
}


.action {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 160px;
}
 button {
  margin-top: 16px;
  width: 120px;
  height: 36px;
  background-color: #f4b400;
  border: 1px solid #d6a600;
  cursor: pointer;
} */
.food-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
